{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true
  },
  "overrides": [
    {
      "files": ["src/**/*.js"],
      "rules": {
        "semi": ["error", "always"]
      }
    }
  ]
}
