body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.disable {
  opacity: 0.45;
  cursor: help !important;
}

.form-group > label {
  margin: 0 0 2px;
}

label.checkbox-container {
  margin-right: 10px;
}

label.checkbox-container > input {
  margin-right: 5px;
}

.component-header {
  margin: 20px 0;
}

div.form-data {
  white-space: pre-wrap;
}

.popover-content-container {
  padding: 10px;
}
